ray[default,tune]==2.6.3
numpy==1.26.3
scipy==1.11.4
matplotlib==3.8.2
pandas==2.1.4
opencv-python==4.9.0.80
omegaconf==2.3.0
xarray==2023.12.0
elephant[extras]==1.0.0
pytest==7.4.4
autopep8==2.0.4
bayesian-optimization==1.4.3
ipywidgets==8.1.1
seaborn==0.13.1
tensorboard==2.15.1
tbparse==0.0.8
SQLAlchemy==2.0.25
async_timeout==4.0.3
PuLP==2.7.0
snakemake==8.1.0
sparse==0.15.4
